language: go
go:
- "1.11.x"
- "1.12.x"

go_import_path: github.com/pfnet-research/git-ghost

env:
- GO111MODULE=on

install:
- go install github.com/golangci/golangci-lint/cmd/golangci-lint
- go install github.com/mattn/goveralls

before_script: make lint

script:
- make test coverage
- make install e2e

after_success:
- goveralls -coverprofile=profile.cov -service=travis-ci
