name: CI

on:
  push:
    branches: [ master ]
    tags-ignore: [ "**" ]
    paths-ignore: [ "**.md"]
  pull_request:
    types: [opened, synchronize]
    paths-ignore: [ "**.md" ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ~1.12
    - name: Check out
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Get dependencies
      run: go mod download

    - name: Lint
      run : make lint
    - name: Build
      run: make install e2e
    - name: Test
      run: make test coverage

